.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  height: 600px;
}

.calculator{
  width: 500px;
  height: 500px;
  border: 1px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.input{
  margin: 0.3rem;
}

.button{
  margin: 1rem;
}
.button button{
  margin-left:1em ;
  padding: 0.9rem;
  background-color: #000;
  color: #fff;
}



